@model MvcMovie.Models.PostTopicViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<!-- ToDo: Implement:
                                             feature to choose what to filter( eg. topic)
                                             Elastic Search.
                                             Content contains search parameter/query-->
<form asp-controller="Posts" asp-action="Index" method="get">
    <p>
        <select asp-for="PostTopic" asp-items="Model.Topics">
            <option value="">All</option>
        </select>

        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts[0].Votes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Posts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Votes)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<!--  TODO:      Implement some way of making the row clickable:
https://www.youtube.com/watch?v=6BdKUO2QbA0&feature=emb_logo

    <tr data-href="htp://www.google.com/">
<script>
    document.addEventListener("DOMContentLoaded", () => {

        const rows = document.querySelectorAll("tr[data-href]");

        rows.foreach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.
                        })
        })
    })
</script>

    -->
